body {
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 14em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-shadow: 3px 3px 7px #fcf5f5;
}

.time {
  font-size: 100px;
}

#date {
  font-size: 25px;
  position: relative;
}

#text {
  text-align: center;
}

#greeting {
  font-size: 25px;
}